<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lauking.callph"
    android:versioncode="1" android:versionname="1.0">
    <uses-sdk android:minsdkversion="8" android:targetsdkversion="15"> </uses-sdk>
    <uses-permission
        android:name="android.permission.CALL_PHONE">
    </uses-permission>
    <application android:allowbackup="true"
        android:icon="@drawable/ic_launcher_background"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
    <activity android:name="com.example.calling.MainActivity"
        android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"> </action>
            <category android:name="android.intent.category.LAUNCHER"> </category>
        </intent-filter>
    </activity>
</application>
</manifest>